form {
  display: flex;
  line-height: 1px;
}

h3 {
  font-size: 1.3rem;
}

.text {
  width: 15rem;
  height: 2rem;
  font-size: 1.3rem;
  margin-bottom: 0;
}

select {
  width: 10rem;
}

.submitfrom {
  width: 5rem;
}
